<div *ngIf="ingreso == false">
  <app-general-nav></app-general-nav>
</div>
<div *ngIf="ingreso == true">
  <app-user-nav></app-user-nav>
</div>
<div id="page-container">
   <div id="content-wrap">
    <div class="container"> 

  <p>

  <div class="row">
    <div class="col-md-8">
      <app-info-home></app-info-home>
    </div>

    <div class="col-md-4">
      <app-carousel-home></app-carousel-home>
    </div>

  </div>
   </div>

   <footer id="footer">
<app-footer-home></app-footer-home>
   </footer>

 </div>
