<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/eea16d4f-07fc-4a6e-942c-59edd58fec5e/resourceGroups/Default/providers/Microsoft.Web/sites/viajar360</ResourceId>
    <ResourceGroup>Default</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://viajar360.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>viajar360.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>viajar360</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$viajar360</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AtraccionesEntities" Order="1" Enabled="False">
          <Destination Path="metadata=res://*/Models.AtraccionesDB.csdl|res://*/Models.AtraccionesDB.ssdl|res://*/Models.AtraccionesDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=viajar360.database.windows.net;initial catalog=Viajar360;persist security info=True;user id=ViajarAdmin;password=Referencia$256;MultipleActiveResultSets=True;App=EntityFramework&quot;" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="viajar360BackEnd.Models.AtraccionesEntities, viajar360BackEnd" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CiudadesEntities" Order="2" Enabled="False">
          <Destination Path="metadata=res://*/Models.CiudadesDB.csdl|res://*/Models.CiudadesDB.ssdl|res://*/Models.CiudadesDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=viajar360.database.windows.net;initial catalog=Viajar360;persist security info=True;user id=ViajarAdmin;password=Referencia$256;MultipleActiveResultSets=True;App=EntityFramework&quot;" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="viajar360BackEnd.Models.CiudadesEntities, viajar360BackEnd" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ForoEntities" Order="3" Enabled="False">
          <Destination Path="metadata=res://*/Models.ForoDB.csdl|res://*/Models.ForoDB.ssdl|res://*/Models.ForoDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=viajar360.database.windows.net;initial catalog=Viajar360;persist security info=True;user id=ViajarAdmin;password=Referencia$256;MultipleActiveResultSets=True;App=EntityFramework&quot;" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="viajar360BackEnd.Models.ForoEntities, viajar360BackEnd" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ChatEntities" Order="4" Enabled="False">
          <Destination Path="metadata=res://*/Models.ModeloChat.csdl|res://*/Models.ModeloChat.ssdl|res://*/Models.ModeloChat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=viajar360.database.windows.net;initial catalog=Viajar360;persist security info=True;user id=ViajarAdmin;password=Referencia$256;MultipleActiveResultSets=True;App=EntityFramework&quot;" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="viajar360BackEnd.Models.ChatEntities, viajar360BackEnd" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TokenEntities" Order="5" Enabled="False">
          <Destination Path="metadata=res://*/Models.TokenDB.csdl|res://*/Models.TokenDB.ssdl|res://*/Models.TokenDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=viajar360.database.windows.net;initial catalog=Viajar360;user id=ViajarAdmin;password=Referencia$256;MultipleActiveResultSets=True;App=EntityFramework&quot;" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="viajar360BackEnd.Models.TokenEntities, viajar360BackEnd" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UsuariosEntities" Order="6" Enabled="False">
          <Destination Path="metadata=res://*/Models.UsuariosDB.csdl|res://*/Models.UsuariosDB.ssdl|res://*/Models.UsuariosDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=viajar360.database.windows.net;initial catalog=Viajar360;user id=ViajarAdmin;password=Referencia$256;MultipleActiveResultSets=True;App=EntityFramework&quot;" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="viajar360BackEnd.Models.UsuariosEntities, viajar360BackEnd" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="UsuariosEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UsuariosDB.csdl|res://*/Models.UsuariosDB.ssdl|res://*/Models.UsuariosDB.msl;provider=System.Data.SqlClient;provider connection string='metadata=res://*/Models.UsuariosDB.csdl|res://*/Models.UsuariosDB.ssdl|res://*/Models.UsuariosDB.msl;provider=System.Data.SqlClient;provider connection string="data source=viajar360.database.windows.net;initial catalog=Viajar360;user id=ViajarAdmin;password=Referencia$256;MultipleActiveResultSets=True;App=EntityFramework"'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TokenEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.TokenDB.csdl|res://*/Models.TokenDB.ssdl|res://*/Models.TokenDB.msl;provider=System.Data.SqlClient;provider connection string='metadata=res://*/Models.TokenDB.csdl|res://*/Models.TokenDB.ssdl|res://*/Models.TokenDB.msl;provider=System.Data.SqlClient;provider connection string="data source=viajar360.database.windows.net;initial catalog=Viajar360;user id=ViajarAdmin;password=Referencia$256;MultipleActiveResultSets=True;App=EntityFramework"'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ChatEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModeloChat.csdl|res://*/Models.ModeloChat.ssdl|res://*/Models.ModeloChat.msl;provider=System.Data.SqlClient;provider connection string='metadata=res://*/Models.ModeloChat.csdl|res://*/Models.ModeloChat.ssdl|res://*/Models.ModeloChat.msl;provider=System.Data.SqlClient;provider connection string="data source=viajar360.database.windows.net;initial catalog=Viajar360;persist security info=True;user id=ViajarAdmin;password=Referencia$256;MultipleActiveResultSets=True;App=EntityFramework"'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ForoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ForoDB.csdl|res://*/Models.ForoDB.ssdl|res://*/Models.ForoDB.msl;provider=System.Data.SqlClient;provider connection string='metadata=res://*/Models.ForoDB.csdl|res://*/Models.ForoDB.ssdl|res://*/Models.ForoDB.msl;provider=System.Data.SqlClient;provider connection string="data source=viajar360.database.windows.net;initial catalog=Viajar360;persist security info=True;user id=ViajarAdmin;password=Referencia$256;MultipleActiveResultSets=True;App=EntityFramework"'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CiudadesEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.CiudadesDB.csdl|res://*/Models.CiudadesDB.ssdl|res://*/Models.CiudadesDB.msl;provider=System.Data.SqlClient;provider connection string='metadata=res://*/Models.CiudadesDB.csdl|res://*/Models.CiudadesDB.ssdl|res://*/Models.CiudadesDB.msl;provider=System.Data.SqlClient;provider connection string="data source=viajar360.database.windows.net;initial catalog=Viajar360;persist security info=True;user id=ViajarAdmin;password=Referencia$256;MultipleActiveResultSets=True;App=EntityFramework"'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AtraccionesEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.AtraccionesDB.csdl|res://*/Models.AtraccionesDB.ssdl|res://*/Models.AtraccionesDB.msl;provider=System.Data.SqlClient;provider connection string='metadata=res://*/Models.AtraccionesDB.csdl|res://*/Models.AtraccionesDB.ssdl|res://*/Models.AtraccionesDB.msl;provider=System.Data.SqlClient;provider connection string="data source=viajar360.database.windows.net;initial catalog=Viajar360;persist security info=True;user id=ViajarAdmin;password=Referencia$256;MultipleActiveResultSets=True;App=EntityFramework"'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>