<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<app-general-nav></app-general-nav>
<script src="/socket.io/socket.io.js"></script>
<script src="../../../../../Socket/index.js"></script>
<div class="chatContainer">
    <p [ngClass]="{'local': message.messageType === 1, 'remoto':message.messageType === 2}" class="local"
        *ngFor="let message of chat.chats"> {{message.text}} </p>

</div>

<div class="inputContainer">
    <form (submit)="sendMessage()">
        <input [(ngModel)]="text" [ngModelOptions]="{standalone:true}" type="text">
    </form>

</div>

