footer{
    background: #FFB448;
    background: -moz-linear-gradient(left, #FFB448 0%, #FFB448 50%, #FFFFFF 100%);
    background: -webkit-linear-gradient(left, #FFB448 0%, #FFB448 50%, #FFFFFF 100%);
    background: linear-gradient(to right, #FFB448 0%, #FFB448 50%, #FFFFFF 100%);
}