<app-registrado-nav></app-registrado-nav>

<div class="container">
    <form>
        <label>
            <span>Apellido</span>
            <input type="text" placeholder="Apellido" formControlName="apellido">

        </label>
        <label>
            <span>Nombre</span>
            <input type="text" placeholder="Nombre" formControlName="nombre">
        </label>
        <label>
            <span>Dirección</span>
            <input type="text" placeholder="Dirección" formControlName="direccion">

        </label>
        <label>
            <span>Teléfono</span>
            <input type="text" placeholder="Teléfono" formControlName="telefono">
        </label>
        <label>
            <span>Localidad</span>
            <input type="text" placeholder="Localidad" formControlName="localidad">

        </label>
        <label>
            <span>Provincia</span>
            <input type="text" placeholder="Provincia" formControlName="provincia">
        </label>
        <label>
            <span>Foto de perfil</span>
            <input type="file" name="adjunto" accept=".pdf,.jpg,.png" multiple formControlName="foto">

        </label>
       

        <button class="btn btn-primary" type="submit" >Guardar</button>
    </form>
</div>
