p {
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #FFDDAA 50%, #FFB448 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #FFDDAA 50%, #FFB448 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, #FFDDAA 50%, #FFB448 100%);
    }