<app-general-nav></app-general-nav>

<div class="container espacio">
  <div class="row">
  <div class="col-md-12">
    <img class="img-fluid foro" src="..\assets\foro.png" alt="foro viajar 360">
  </div>
</div>

<div class="container espacio">

  <div class="no-data text-center" *ngIf="primera">
        <img src="/assets/carga.gif">
    </div>

    <div *ngIf="falla">
        <div class="alert alert-danger">
            {{resp.reporte}}
        </div>
    </div>

    <div class="no-data text-center" *ngIf="temas.length == 0 && !primera && !falla">

      <button class="btn" routerLink="/foro/crear" style="color:#333"> Crear Nuevo Tema</button>
        <p>¡No hay temas!</p>
    </div>

    <div *ngIf="temas.length !== 0">
        <button class="btn" routerLink="/foro/crear">Nuevo Tema</button>

        <h3 class="mb-3 text-center">Lista de Temas</h3>
        <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Tema</th>
                <th scope="col">Estado</th>
                <th scope="col">Enlace</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tema of temas">
                <td>{{tema.titulo}}</td>
                <td *ngIf="tema.estado == 0; else estado_tema">Abierto</td>
                <ng-template #estado_tema>
                    <td>Cerrado</td>
                </ng-template>
                <td>
                  <span class="botonera" routerLink="/foro/tema/{{tema.id_tema}}">Ir al tema</span>
                  <span *ngIf="admin"> - </span>
                  <span class="botonera" *ngIf="admin" (click)="borrarTema(tema.id_tema)">Borrar</span>
                  <span *ngIf="admin"> - </span>
                  <span class="botonera" *ngIf="admin" (click)="ioTema(tema.id_tema,tema.estado)"><a *ngIf="tema.estado==0">cerrar tema</a><a *ngIf="tema.estado==1">abrir tema</a></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
