.foro {
  display: block;
  margin: auto;
}

.espacio {
  padding-top: 2%;
  padding-bottom: 2%;
}

.btn {
  margin-left: 80%;
  background-color: orange;
  color: #333;
}

thead {
  background-color: orange;
}

th {
  color: white;
}

td {
  color: orange;
  font-weight: 500;
}

h3{
  color: #666;
}
