<app-general-nav></app-general-nav>

<div class="container">
  <div class="row">
  <div class="col-md-12">
    <img class="foro" src="..\assets\foro.png" alt="foro viajar 360">
  </div>
</div>

<div class="container">
    <form method="POST" [formGroup]="entrada" (ngSubmit)="CrearTema()">
        <h1>Crear Tema</h1>
        <input type="text" formControlName="titulo" placeholder="Ingrese titulo" required="required"/>
        <div *ngIf="f.titulo.touched && f.titulo.invalid; else espaciador" class="alert alert-danger">
            <div *ngIf="f.titulo.errors.required">Ingrese el titulo del tema a crear</div>
            <div *ngIf="f.titulo.errors.minlength">El titulo del tema tiene que tener 8 caracteres como minimo</div>
            <div *ngIf="f.titulo.errors.maxlength">El titulo del tema tiene que tener 255 caracteres como maximo</div>
            <br>
        </div>
        <ng-template #espaciador>
            <br>
        </ng-template>
        <button type="submit" class="btn" [disabled]="!entrada.valid">CrearTema</button>
          <button class="btn" routerLink="/">Volver al Inicio</button>
    </form>
    <div *ngIf="respuesta" class="alert alert-danger">{{resp.reporte}}</div>
</div>
