<div class="container">
<ngb-carousel data-interval="300">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="../../../assets/Images/soña.jpg">
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="../../../assets/Images/descubri.png">
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="('../../../assets/Images/vivi.jpg')">
    </div>

  </ng-template>
</ngb-carousel>
</div>
