<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="..\assets\Images\atrac-1.jpg">
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="..\assets\Images\atrac-2.jpg">
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="..\assets\Images\atrac-3.jpg">
    </div>

  </ng-template>
</ngb-carousel>
