  <ul ngbNav #nav="ngbNav" [(activeId)]="dir" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Crear-Ciudad</a>
    <ng-template ngbNavContent>
      <crear-ciudad></crear-ciudad>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Editar-Ciudad</a>
    <ng-template ngbNavContent>
      <lista-ciudad></lista-ciudad>
      <editar-ciudad></editar-ciudad>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Crear-Atraccion</a>
    <ng-template ngbNavContent>
      <app-crear-atraccion></app-crear-atraccion>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink>Editar-Atraccion</a>
    <ng-template ngbNavContent>
      <app-listar-atraccion></app-listar-atraccion>
      <app-editar-atraccion></app-editar-atraccion>
    </ng-template>
  </li>
  <li [ngbNavItem]="5">
    <a ngbNavLink>Listado-Usuarios</a>
    <ng-template ngbNavContent>
      <app-listar-usr></app-listar-usr>
      <app-ad-ed-usr></app-ad-ed-usr>
    </ng-template>
  </li>
  <li [ngbNavItem]="6">
    <a ngbNavLink>Listado-Baneados</a>
    <ng-template ngbNavContent>
      <app-listar-busr></app-listar-busr>
    </ng-template>
  </li>
  <li [ngbNavItem]="6">
    <a ngbNavLink>Ver-Mensajes</a>
    <ng-template ngbNavContent>
      <app-ver-mensajes></app-ver-mensajes>
    </ng-template>
  </li>
  <li [ngbNavItem]="7">
    <a ngbNavLink>Volver</a>
    <ng-template ngbNavContent>

      <a class="nav-link" routerLink="/home" routerLinkActive="active"><button type="button" class="btn btn-primary">Volver a Inicio
      </button></a>
      <a class="nav-link" routerLink="/salida" routerLinkActive="active"><button type="button" class="btn btn-primary">Salir de la sesion y volver al menu
      </button></a>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav"></div>