  <ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>Crear-Ciudad</a>
    <ng-template ngbNavContent>
      <crear-ciudad></crear-ciudad>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Editar-Ciudad</a>
    <ng-template ngbNavContent>
      <lista-ciudad></lista-ciudad>
      <editar-ciudad></editar-ciudad>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Volver</a>
    <ng-template ngbNavContent>

      <a class="nav-link" routerLink="/home" routerLinkActive="active"><button type="button" class="btn btn-primary">Volver a Inicio
      </button></a>

    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav"></div>