<div class="container custom-container">
    <div class="col-md-12" *ngIf="!primera; else cargando">
        <div *ngIf="!falla; else RespuestaError">
            <h3 class="mb-3 text-center">Editar usuario</h3>
            <div class="form-group" *ngIf="datos.foto!=''">
                <img [src]="datos.foto" height="20%" width="20%">
                <label for="Foto"><input type="checkbox" (change)="Modif()" [(ngModel)]="cambios.foto" id="Foto"/>Borrar Foto del usuario</label>
            </div>
            <div class="form-group" *ngIf="datos.apellido != ''">
                <label>Apellido: {{datos.apellido}}</label><br>
                <label for="apellido"><input type="checkbox" (change)="Modif()" [(ngModel)]="cambios.apellido" id="apellido"/>Borrar apellido</label>
            </div>
            <div class="form-group" *ngIf="datos.nombre != ''">
                <label>Nombre: {{datos.nombre}}</label><br>
                <label for="nombre"><input type="checkbox" (change)="Modif()" [(ngModel)]="cambios.nombre" id="nombre"/>Borrar nombre</label>
            </div>
            <div class="form-group" *ngIf="datos.direccion !=''">
                <label>Direccion: {{datos.direccion}}</label><br>
                <label for="direccion"><input type="checkbox" (change)="Modif()" [(ngModel)]="cambios.direccion" id="direccion"/>Borrar direccion</label>
            </div>
            <div class="form-group" *ngIf="datos.telefono !=''">
                <label>Telefono: {{datos.telefono}}</label><br>
                <label for="telefono"><input type="checkbox" (change)="Modif()" [(ngModel)]="cambios.telefono" id="telefono"/>Borrar telefono</label>
            </div>
            <div class="form-group" *ngIf="datos.localidad !=''">
                <label>Localidad: {{datos.localidad}}</label><br>
                <label for="localidad"><input type="checkbox" (change)="Modif()" [(ngModel)]="cambios.localidad" id="localidad"/>Borrar localidad</label>
            </div>
            <div class="form-group" *ngIf="datos.provincia !=''">
                <label>Provincia: {{datos.provincia}}</label><br>
                <label for="provincia"><input type="checkbox" (change)="Modif()" [(ngModel)]="cambios.provincia" id="provincia"/>Borrar provincia</label>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-lg btn-block" [disabled]="!valido" (click)="EditarUsuario()">Actualizar Ciudad</button>
            </div>
        </div>
        <ng-template #RespuestaError>
            <div class="alert alert-danger">{{comentario}}</div>
        </ng-template>
    </div>
    <ng-template #cargando>
        <img class="img_carga" src="/assets/carga.gif" width="50%" height="50%">
    </ng-template>
</div>
