.spinner{
  height:20%;
  width:20%;
  margin-left: 45%;
  margin-right: 45%;
}

.informacion{
  margin-top: 3%;
  margin-bottom: 3%;
}

h1, h2{
  text-transform: uppercase;
  color: orange;
  text-align: center;
  margin: 3%;
}

h3, .item{
  color: #666;
}

hr{
  border: orange;
  background-color: orange;
  height: 2px;
}
