<div class="container">
  <div class="row">
    <div class="col-md-4">
    <div class="caja">
      <h1>Playas y Balnearios</h1>
      <div class="card centrado">
        <img src="\assets\Images\playa.jpg" alt="Playas y Balnearios">
        <div class="capa">
          <p>Encontrará playas con suaves arenas, variedad de servicios y propuestas para poder disfrutar el sol y el calor del verano.</p>
          <a href=""> Ver más </a>
        </div>
      </div>
    </div>
  </div>

    <div class="col-md-4">
      <div class="caja">
        <h1>Fiestas Populares</h1>
        <div class="card centrado">
          <img src="\assets\Images\populares.jpg" alt="Fiestas Populares">
          <div class="capa">
            <p>Disfrutá de la mayor oferta turística en materia de fiestas populares, y disfruta de esta experiencia en cada mes del año</p>
            <a href=""> Ver más </a>
          </div>
        </div>
      </div>
    </div>

  <div class="col-md-4">
    <div class="caja">
    <h1>Turismo Historico</h1>
    <div class="card centrado">
      <img src="\assets\Images\historico.jpg" alt="Turismo Historico">
      <div class="capa">
        <p>Entre Ríos es participante destacada en la historia nacional. Conocé palacios, monumentos y museos testigos de nuestros orígenes </p>
        <a href=""> Ver más </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
    <div class="caja">
      <h1>Carnavales</h1>
      <div class="card centrado">
        <img src="..\assets\Images\carnaval.jpg" alt="Carnavales">
        <div class="capa">
          <p>Llenate del brillo de los trajes de los mejores pasistas del país! Espectáculo, diversión y belleza combinadas para disfrutar el verano</p>
          <a href=""> Ver más </a>
        </div>
      </div>
    </div>
  </div>

    <div class="col-md-4">
      <div class="caja">
        <h1>Shows en vivo</h1>
        <div class="card centrado">
          <img src="..\assets\Images\shows.jpg" alt="Shows en vivo">
          <div class="capa">
            <p>La provincia ofrece fiestas nacionales con artistas de primer nivel, como la FN de la Artesanía, FN del Lago, FN de la Playa de Río</p>
            <a href=""> Ver más </a>
          </div>
        </div>
      </div>
    </div>

  <div class="col-md-4">
    <div class="caja">
    <h1>Gastronomía</h1>
    <div class="card centrado">
      <img src="..\assets\Images\gastronomico.jpg" alt="turismo gastronomico">
      <div class="capa">
        <p>Deleitate con la comida regional que te ofrece el turismo gastronómico de la mano de  "Entre Ríos de Sabores"</p>
        <a href=""> Ver más </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
    <div class="caja">
      <h1>Turismo Rural</h1>
      <div class="card centrado">
        <img src="..\assets\Images\rural.jpg" alt="Turismo Rural">
        <div class="capa">
          <p>El monte nativo del norte, las praderas del centro, el delta del sur y los bosques bordeando los ríos son lugares increíblemente únicos</p>
          <a href=""> Ver más </a>
        </div>
      </div>
    </div>
  </div>
    <div class="col-md-4">
      <div class="caja">
        <h1>Turismo Termal</h1>
        <div class="card centrado">
          <img src="..\assets\Images\termal.jpg" alt="Turismo termal">
          <div class="capa">
            <p>Recorré los mas de 13 complejos termales de la provincia. Relajate en sus aguas naturales de origen subterráneo y divertite en los parques acuáticos</p>
            <a href=""> Ver más </a>
          </div>
        </div>
      </div>
    </div>
  <div class="col-md-4">
    <div class="caja">
    <h1>Turismo Pesca</h1>
    <div class="card centrado">
      <img src="..\assets\Images\pescando.jpg" alt="Turismo Pesca">
      <div class="capa">
        <p>Rodeada al este por el Río Uruguay y al oeste por el Río Paraná, la pesca deportiva y recreativa se extiende a sus largos</p>
        <a href=""> Ver más </a>
      </div>
    </div>
  </div>
</div>
