@using System.Web.Optimization;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <base href="/Bundles/"/>
    @Styles.Render("~/Content/Styles")
</head>
<body>
    <app-root></app-root>
    @Scripts.Render("~/Script/Bundles")
</body>
</html>