<<<<<<< HEAD
﻿@using System.Web.Optimization;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <base href="/" />
    @Styles.Render("~/Content/Styles")
</head>
<body>
    <app-root></app-root>
    @Scripts.Render("~/Script/Bundles")
</body>
</html>
=======
﻿@{ 
    Layout = null;
}

<app-root></app-root>
>>>>>>> 62734f8b2c9c9c05bf8d1f531ed11794c4f7f787
