p {
    background: #FFB448;
    background: -moz-linear-gradient(top, #FFB448 0%, #FFDDAA 50%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #FFB448 0%, #FFDDAA 50%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #FFB448 0%, #FFDDAA 50%, #FFFFFF 100%);
    }