<app-general-nav></app-general-nav>
<div class="fondo">
  <div class="container">
    <div class="login">
      <form method="post" [formGroup]="Forumulario" (ngSubmit)="login()">
        <h1>Ingreso de usuario</h1>
        <div>
          <input type="text" formControlName="Usuario" placeholder="Usuario" required="required" />
        </div>
        <div *ngIf="f.Usuario.touched && f.Usuario.invalid; else Separador_Usuario" class="alert alert-danger">
            <div *ngIf="f.Usuario.errors.required">Ingrese un Usuario</div>
            <div *ngIf="f.Usuario.errors.minlength">El usuario debe tener 8 caracteres como minimo</div>
        </div>
        <ng-template #Separador_Usuario>
          <div>
            <br>
          </div>
        </ng-template>
        <div>
          <input type="password" formControlName="Pass" placeholder="Password" required="required"/>
        </div>
        <div *ngIf="f.Pass.touched && f.Pass.invalid;else Separador_Contra" class="alert alert-danger">
          <div *ngIf="f.Pass.errors.required">Ingrese la contraseña</div>
          <div *ngIf="f.Pass.errors.minlength">La contraseña tiene que tener 8 caracteres como minimo</div>
          <div *ngIf="f.Pass.errors.maxlength">La contraña tiene un maximo de 50 caracteres</div>
          <div *ngIf="f.Pass.errors.pattern">La contraseña requiere por lo menos una mayuscula, una minuscula y un numero</div>
        </div>
        <ng-template #Separador_Contra>
          <div>
            <br>
          </div>
        </ng-template>
        <div class="botones">
          <button type="submit" class="btn btn-primary" [disabled]="!Forumulario.valid">Ingresar</button>
          <button class="btn btn-primary" routerLink="/">Volver al Inicio</button> 
        </div>
        <div *ngIf="resp.error == true" class="alert alert-danger">{{resp.reporte}}</div>
      </form>
    </div>
  </div>
</div>