<app-general-nav></app-general-nav>
<div class="fondo">
    <div *ngIf="carga_completa; else cargando">
        <div class="cartel">
            <h2>Perfil de: {{usuario.user}}</h2>
            <div *ngIf="usuario.foto!=''"><img [src]="'https://localhost:44389/'+usuario.foto" class="foto_perfil"/><br></div>
            <div *ngIf="usuario.nombre!=''"><label>Nombre: {{usuario.nombre}}</label><br></div>
            <div *ngIf="usuario.apellido!=''"><label>apellido: {{usuario.apellido}}</label><br></div>
            <div *ngIf="usuario.direccion!=''"><label>direccion: {{usuario.direccion}}</label><br></div>
            <div *ngIf="usuario.telefono!=''"><label>telefono: {{usuario.telefono}}</label><br></div>
            <div *ngIf="usuario.provincia!=''"><label>provincia: {{usuario.provincia}}</label><br></div>
            <div *ngIf="usuario.localidad!=''"><label>localidad: {{usuario.localidad}}</label><br></div>
            <div *ngIf="usuario.mail!=''"><label>mail: {{usuario.mail}}</label><br></div>
        </div>
    </div>
    <ng-template #cargando>
        <div class="cargando">
            <img class="img_carga"src="/assets/carga.gif" width="50%" height="50%">
        </div>
    </ng-template>
</div>